<div class="container-fluid">
  <div class="task-list">
    <div class="row">
      <h1 class="headline">TaskBalance</h1>
      <%= erb :'users/partials/graph', :locals => {:categories_hash => @user.task_categories, :tasks_total => @user.tasks.count} %>
      <% @tasks.each do |day, tasks_by_day| %>
        <div class="col-md-2 panel panel-default day-list">
          <h3><%= day %></h3>
          <% p tasks_by_day %>
          <ul class="list-group">
            <%= erb :'users/partials/task_items', :locals => {:tasks_array => tasks_by_day[:open], :item_class => "task-item"} %>
            <%= erb :'users/partials/task_items', :locals => {:tasks_array => tasks_by_day[:complete], :item_class => "task-item completed-item"} %>
            <li class="list-group-item">
              <form action="/task/new" method="get">
                <input type="hidden" name="day" value="<%= day %>">
                <div class="right-inner-addon">
                  <i class="glyphicon glyphicon-circle-arrow-right"></i>
                  <input type="text" class="form-control list-input" name="title" placeholder="Create a task...">
                </div>
                <input type="submit" class="hidden-submit">
              </form>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div>
<form action='/authentication/logout' method="get">
  <button type="logout">Logout</button>
</form>

</div>


