<div class="collapse" id="task<%= task.id %>subtasks">
  <!-- edit task -->
  <% task.subtasks.select { |subtask| !subtask.completed }.each do |open_subtask| %>
    <p class="subtask-item">
      <form action="/task/<%= open_subtask.id %>" method="post" id="form-task-<%= open_subtask.id %>">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="completed" value="true">
      </form>
      <button class="complete-item-button" type="submit" form="form-task-<%= open_subtask.id %>" value="Submit">
        <i class="glyphicon glyphicon-ok subtask-check-mark"></i>
      </button>
      <%= open_subtask.title %>
    </p>
  <% end %>
  <% task.subtasks.select { |subtask| subtask.completed }.each do |completed_subtask| %>
    <p class="subtask-item completed-item"><%= completed_subtask.title %></p>
  <% end %>
</div>
